@import url(styles/sobre.css);
@import url(styles/navegação.css);
@import url(styles/redes_sociais.css);
@import url(styles/projetos.css);
@import url(styles/competencias.css);

:root{
    --preto: #2D2C31;
    --branco: #f3eff3;
    --roxo-escuro: #4A3B67;
    --roxo-médio: #A37CF1;
    --roxo-claro: #CFA3F5;
    --rosa-médio: #FA8E9B;
    --rosa-claro: #EAD9FC;
    --roxo-degradê: linear-gradient(to left, #A37CF1, #CFA3F5 30%, #FA8E9B);
    --fonte-principal: "Magic Retro";
    --fonte-secundária: "Comfortaa", cursive;
}

body{
    background-color: var(--preto);
    color: var(--branco);
}

h1{
    font-family: var(--fonte-principal);
    font-size: 55px;
}

h2{
    font-family: var(--fonte-principal);
    font-size: 40px;
    margin: 5rem 0 4rem 3rem;
}

h3{
    font-family: var(--fonte-secundária);
}

p{
    font-family: var(--fonte-secundária);
}

.conteúdo{
    position: relative;
    width: 90%;
    float: right;
}

@font-face {
    font-family: "Magic Retro";
    src: url(fonts/magic_retro/Magic\ Retro.ttf);
}