@import url(styles/sobre.css);
@import url(styles/navegação.css);

:root{
    --preto: #2D2C31;
    --branco: #f3eff3;
    --roxo-escuro: #4A3B67;
    --roxo-médio: #A37CF1;
    --roxo-claro: #CFA3F5;
    --rosa-médio: #FA8E9B;
    --rosa-claro: #EAD9FC;
}

body{
    background-color: var(--preto);
    color: var(--branco);
}

h1{
    font-family: Magic Retro;
    font-size: 45px;
}

p{
    font-family: 'Comfortaa', cursive;
}

.conteúdo{
    position: relative;
    width: 90%;
    float: right;
}

@font-face {
    font-family: "Magic Retro";
    src: url(fonts/magic_retro/Magic\ Retro.ttf);
}