.barra-lateral{
    position: fixed;
    width: 10%;
    height: 100vh;
}

.lateral__navegação{
    position: relative;
    top: 35%;
}

.navegação__lista{
    text-align: right;
}

.navegação__lista li{
    padding: 0.8rem 0.5rem 0.5rem 0;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid var(--roxo-médio);
}

.navegação__lista li:hover{
    background-color: var(--roxo-escuro);
    border-bottom: 1px solid var(--roxo-claro);
    transition-duration: 0.6s;
    .lista__item{
        color: var(--rosa-claro);
    }
}

.lista__item{
    text-decoration: none;
    font-family: var(--fonte-secundária);
    color: var(--branco);
}
