.projetos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 3rem;
}

.projetos__card{
    border: 3px solid var(--roxo-escuro);
    width: 30%;
    margin-bottom: 3rem;
}

/* adicionar sombra e tals */

.projetos__imagem{
    /* height: 100px; */
    box-sizing: border-box;
}

.projetos__imagem img{
    width: 100%;
}

.projetos__descrição{
    padding: 1rem 2rem 2rem 2rem;
    box-sizing: border-box;
}

.projetos__descrição h3{
    font-size: 24px;
    margin: 1rem 0;
}

.projetos__tópicos{
    color: var(--rosa-claro);
    font-size: 14px;
}

.projetos__texto{
    margin-bottom: 1.5rem;
}

.projetos__links a{
    font-family: var(--fonte-secundária);
    font-weight: 700;
    text-decoration: none;
    color: var(--preto);
    border-radius: 10px;
    background: var(--roxo-degradê);
    margin-right: 1.5rem;
    padding: 0.5rem 1rem;
}