.sobre{
    display: flex;
    align-items: center;
    gap: 4rem;
    padding: 5rem;
}

.sobre__descrição{
    width: 60%;
    text-align: right;
}

.descrição__destaque{
    color: var(--roxo-médio);
}

.descrição__texto{
    font-size: 25px;
    font-weight: 400;
    padding-top: 2rem;
}

.sobre__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    border: 3px solid var(--roxo-escuro);
    border-radius: 10px;
    padding: 4rem 2rem;
}

.card__imagem{
    width: 75%;
}

.card__texto{
    padding-top: 1rem;
    text-align: center;
}

.card__texto p{
    padding-top: 1rem;
}