.sobre{
    display: flex;
    padding: 5rem;
}

.sobre__descrição{
    width: 60%;
}

.descrição__texto{
    font-size: 25px;
    font-weight: 400;
}

.sobre__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    border: 3px solid var(--roxo-escuro);
    border-radius: 10px;
    padding: 3rem;
}

.card__imagem{
    width: 80%;
}

.card__texto{
    padding-top: 3rem;
}